<footer class="fw footer">

    <div class="wrapper">

        <div class="layout">

            <div class="layout__item u-2/3-portable u-mb">

                <h2>Contact</h2>
                <hr class="mini-hr" />

                <div class="layout">

                    <div class="layout__item  u-1/2">

                        <svg class="alignleft"><use xlink:href="img/svg-defs.svg#shape-location" />
                        </svg>
                        <p>
                            68 Mandeville Street,
                            PO Box 7681,
                            Christchurch 8011,
                            New Zealand
                        </p>

                    </div><!--

                    --><div class="layout__item u-1/2">

                    <svg class="alignleft"><use xlink:href="img/svg-defs.svg#shape-envelope" />
                    </svg>
                    <p>
                        68 Mandeville Street,

                    </p>

                    <br>

                    <svg class="alignleft"><use xlink:href="img/svg-defs.svg#shape-phone" />
                    </svg>
                    <p>
                        68 Mandeville Street,

                    </p>

                    </div>

                </div>

            </div><!--

            --><div class="layout__item  u-1/3-portable u-mb">

                <h2>Follow Us</h2>

                <hr class="mini-hr" />

                <p>
                    <svg class="alignleft social"><use xlink:href="img/svg-defs.svg#shape-twitter" />
                    </svg>68 Mandeville Street,

                </p>

                <br>

                <svg class="alignleft social"><use xlink:href="img/svg-defs.svg#shape-facebook" />
                </svg>
                <p>
                    68 Mandeville Street,

                </p>

            </div>

        </div><!-- END .laytout -->

        <hr />

        <div class="small u-mt">

            <ul id="main-menu" class="primary-men u-1/1 u-1/2-portable"><li id="menu-item-254" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-238 active menu-item-254"><a href="http://doc.gluecreative-dev.co.nz/services/">Home</a></li>
                <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253"><a href="http://doc.gluecreative-dev.co.nz/our-staff/">About</a></li>
                <li id="menu-item-252" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-252"><a href="http://doc.gluecreative-dev.co.nz/feespayment/">Services</a></li>
                <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="http://doc.gluecreative-dev.co.nz/contact-us/">Case Studies</a></li>
                <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251"><a href="http://doc.gluecreative-dev.co.nz/contact-us/">Support</a></li>
            </ul>

            <p class="copy u-1/1 u-1/2-portable">
                &copy; Zeevo 2015
            </p>

        </div><!-- End .small -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2892.5957349578393!2d172.6356437154938!3d-43.531622279125614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d318a2333c4a781%3A0x14573a86b4dbb0a0!2s28+Cathedral+Square%2C+Christchurch+Central%2C+Christchurch+8011!5e0!3m2!1sen!2snz!4v1453164374437" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div><!-- End .wrapper -->

</footer>
