h1,
.alpha,
%alpha {
    @include font-size($heading-size-1);
    font-weight: normal;
}

.big {
    font-size: 40px;
}

h2,
.beta,
%beta {
    @include font-size($heading-size-2);
    font-weight: normal;

}

h3,
.gamma,
%gamma {
    @include font-size($heading-size-3);


}

h4,
.delta,
%delta {
    @include font-size($heading-size-4);


}

h5,
.epsilon,
%epsilon {
    @include font-size($heading-size-5);
    line-height: 1.4;



}

h6,
.zeta,
%zeta {
    @include font-size($heading-size-6);


}
