$quote-line: false;
$quote-marks: false;

$type-svg: false;

b, strong {
	font-weight: normal;
	font-family: $base-font-bold;
}

.times {
	font-family: $times;
	b, strong {
		font-weight: bold;
		font-family: inherit;
	}
}

.highlight {
	color: $highlight !important;
	fill: $highlight !important;
}

.grey {
	color: $light-grey !important;
	fill: $light-grey !important;
}

.small {
	@include font-size(11px);
	line-height: 1.4;
}

.subtitle {
	opacity: 0.5;
}


.lined-heading {
	overflow: hidden;
	text-align: center;
}

	.lined-heading__content {
	  display: inline-block;
	  position: relative;
	  padding: 0 15px;

	  &:before, &:after {
		  background: white;
		  content: "";
		  display: block;
		  height: 1px;
		  position: absolute;
			top: 50%;
		  width: 30px;
	  }

	  &:before {
		  right: 100%;
	  }

	  &:after {
		 left: 100%;
	  }
	}

		.lined-heading__content.highlight {
		  &:before, &:after {
			  background: $highlight;

		}

	}


/*
.text-truncate {
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
*/

@if($type-svg == true) {
.svg-right {
	position: relative;

	svg {
		width: 6px;
	    height: 16px;
	    stroke-width: 2px;
	    stroke-linecap: round;
	    display: inline-block;
	    vertical-align: text-top;
	    margin-left: 10px;
	}
}

.svg-left {
	position: relative;

	svg {
		width: 6px;
	    height: 16px;
	    stroke-width: 2px;
	    stroke-linecap: round;
	    display: inline-block;
	    vertical-align: text-top;
	    margin-right: 10px;
	}
}

	.svg--white {
		fill: transparent;
		stroke: white;
	}

	.svg--base {
		fill: transparent;
		stroke: $base-color;
	}
}
/*
.box-text {
	color: white;
    background-color: $highlight;
    display: inline-block;
    padding: 10px;
	position: absolute;
	z-index: 999;
	position:absolute;
	bottom: $spacing-unit;
	left: $spacing-unit;
}*/

/*

	Blockquotes

*/

@if($quote-line == true) {

	.quote-line {
	  position: relative;
	  margin: $spacing-unit auto;
	  width: 80%;
	  @include font-size($heading-size-2);
	  line-height: 1.3;
	  padding-left: $spacing-unit;
	  border-left: 4px solid $highlight;

	  footer {
		  display: block;
		  text-align: right;
		  font-size: 24px;
		  line-height: 40px;
		  margin-top: 10px;
		  text-transform: uppercase;
		  color: darken(#fff, 15%);
		  font-weight: 700;
	  }
	}
}

@if($quote-marks == true) {

	.quote-marks {
	  position: relative;
	  @include font-size($heading-size-2);
	  line-height: 1.3;

	  footer {
	    font-size: 0.6em;
	    font-weight: 700;
	    color: darken(#fff, 15%);
	    float: right;
		margin-top: 0.6rem;

	    &:before {
	      content: '\2015';
	    }
	  }
	  &:after {
	      content: '\201D';
	      position: absolute;
	      top: -0.3em;
	      right: 0;
	      font-size: 3em;
	      font-style: italic;
	      color: darken(#fff, 7%);
	      z-index: -1;
	   }
	}
}
