<!DOCTYPE html>
<html class="{{ page.title }}">

{% include head/styleguide-head.html %}

<body>

 <div class="site-wrap clearfix">

  	<div id="main" class="clearfix">

	    <div class="wrapper clearfix">

            <h1 class="u-p+ aligncenter u-mb+">Mikes Boilerplate</h1>



	        <div class="layout u-mt u-mb+">


                {% assign inuitsections = site.pages | sort:"weight"  %}

                {% for subpage in inuitsections | sort:"weight" %}<!--

                -->{% if subpage.hierarchy == 'parent' %}<!--

                --><div class="layout__item u-1/3-full-nav u-mb+">

                    <header class="fw">

                        <h2 class="gamma alignleft">{{ subpage.title }}</h2>

                        <a href="{{ subpage.url }}" class="button u-mr0 alignright">{{ subpage.title }}</a>

                    </header>

                    <p class="subtitle fw">
                        {{ subpage.description }}
                    </p>

                    {% for subpages in site.pages %}

                        {% if subpages.section == subpage.title %}

                        <a href="{{ subpages.url }}">{{ subpages.title }}</a>,

                        {% endif %}

                    {% endfor %}


                </div><!--

                -->{% endif %}<!--

                -->{% endfor %}


            </div><!-- END .layout -->

            {{ content }}

        </div>

    </div><!-- END #main -->

    {% include footer/footer.html %}

    <div class="overlay">

    </div>

</div><!-- END .page-wrap -->

</body>

</html>
