<!DOCTYPE html>
<html class="{{ page.title }}">

  {% include head/styleguide-head.html %}

  <body>


      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
          <p id="mob-nav" class="hamburger">
              <span class="slice1"></span>
              <span class="slice2"></span>
              <span class="slice3"></span>
              <b class="screenreader">Menu</b>
          </p>
      </label>


      <nav id="nav" role="navigation" class="nav">

          <ul id="main-menu" class="primary-menu u-ml0">


              <li id="menu-item-253" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-253 {% if page.url == "/about.html"%} active {% endif %} "><a href="{{site.baseurl}}/about.html">About</a></li>
      		<li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-179 {% if page.url == "/home.html"%} active {% endif %}"><a  href="#">Menu</a>
      <ul class="dropdown-menu">
      	<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="{{site.baseurl}}/home.html#food">Food</a></li>
      	<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a href="{{site.baseurl}}/home.html#drinks">Drinks</a></li>
      	 </ul>
      </li>

              <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251 {% if page.url == "/whats-on.html"%} active {% endif %}"><a  href="{{site.baseurl}}/whats-on.html">What's On</a></li>
              <li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251 {% if page.url == "/functions.html"%} active {% endif %}"><a  href="{{site.baseurl}}/functions.html">Functions</a></li>
      		<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251 {% if page.url == "/reviews.html"%} active {% endif %}"><a  href="{{site.baseurl}}/reviews.html">Reviews</a></li>
      		<li id="menu-item-251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-251 {% if page.url == "/contact.html"%} active {% endif %}"><a  href="{{site.baseurl}}/contact.html">Contact</a></li>

          </ul>



      </nav>


      <div class="site-wrap clearfix">

          <header class="site-header">

              <h1 class="site-title-svg">

                <a class="link-secret" href="{{site.baseurl}}/home.html" title="" rel="home">

                  OGB

                  <img src="{{site.baseurl}}/img/branding.png" />

                </a>

              </h1>


          </header>



          <div id="main" class="clearfix">

              {{content}}

          </div>

          {% if page.footer == 'dark' %}

          <footer class="footer times clearfix fw">

              <h2>O.G.B Bar &amp; Caf&eacute;</h2>
              <p class="epsilon">
                  03 123 4567  |  info@ogb.co.nz  |  28 Cathedral Square &amp; Worcester St, Christchurch
              </p>

              <a href="#" class="facebook-link"><svg class="facebook-svg">
                <use xlink:href="{{site.baseurl}}/img/svg-defs.svg#shape-facebook25" />
              </svg></a>

              <hr class="centered-dot-hr">

          </footer>

          {% endif %}

          {% if page.footer == 'highlight' %}

          <footer class="footer footer--highlight times  clearfix fw">

              <h2>O.G.B Bar &amp; Caf&eacute;</h2>
              <p class="epsilon">
                  03 123 4567  |  info@ogb.co.nz  |  28 Cathedral Square &amp; Worcester St, Christchurch
              </p>

              <a href="#" class="facebook-link"><svg class="facebook-svg">
                <use xlink:href="{{site.baseurl}}/img/svg-defs.svg#shape-facebook25" />
              </svg></a>

              <hr class="centered-dot-hr">

              <p style="font-size:100%; opacity: 0.7;">
                  Vestibulum id ligula porta felis euismod semper.<br/>
                  Vestibulum id ligula porta felis euismod semper.<br/>
                  Vestibulum id ligula porta felis euismod semper.<br/>
                  Vestibulum id ligula porta felis euismod semper.<br/>
                  Vestibulum id ligula porta felis euismod semper.<br/>
              </p>

          </footer>


{% endif %}

                   <div class="overlay">

                   </div>

               </div><!-- END .page-wrap -->

               </body>

               </html>
