// High-level base settings.
$base-font-size:          14px !default;
$base-line-height:        19px !default;


//
//
//		Type
//
//

$heading-size-1:  30px;
$heading-size-2:  22px;
$heading-size-3:  18px;
$heading-size-4:  16px;
$heading-size-5:  16px;
$heading-size-6:  14px;



// FONT WEIGHTS


$light: 200;
$book: 300;
$heavy: 700;
$black: 800;

// Font Family

$base-font: 'montserratlight', Helvetica, Arial, sans-serif;
$base-font-bold: 'Montserrat', Helvetica, Arial, sans-serif;
$times: 'Times', serif;
